@media (max-width: 330px) {
  body {
    overflow-x: hidden;
  }
  .mid-sec-five {
    padding: 0;
  }
}
@media (max-width: 400px) {
  .mid-sec-one,
  .mid-sec-two,
  .mid-sec-three,
  .mid-sec-four {
    padding: 0;
    height: 100%;
  }
  .sec-one-text-box {
    width: 100%;
    text-align: justify;
  }
  .bm {
    height: 32rem;
  }
  .intro-cap {
    font-size: 2.5rem;
    padding-left: 0.2rem;
  }
  h3 {
    font-size: 1.2rem;
  }
  .short-intro {
    text-align: justify;
    margin-top: 2rem;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 2rem;
  }
  .mid-sec-two-row {
    justify-content: center;
  }
  .card {
    margin-top: 2rem;
  }
  .card04 {
    margin-bottom: 2rem;
  }
  .mid-sec-four-row {
    margin-left: auto;
    margin-right: auto;
  }
  .row-one,
  .row-two,
  .row-three {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
  }
  .row > * {
    margin-bottom: 2rem;
  }
}
@media (max-width: 500px) {
  .line-five {
    width: 13rem !important;
  }
  #my-img {
    margin-left: 6rem !important;
    height: 10rem;
    width: 10rem;
  }
  .square {
    height: 200px !important;
    width: 200px !important;
  }
  /* .row-one,
  .row-two,
  .row-three {
    margin-left: -7rem !important;
  } */
  .line {
    width: 18rem;
  }
}
@media (max-width: 900px) {
  .sec-one-text-box {
    width: 100%;
    text-align: justify;
  }
  .short-intro {
    text-align: justify;
    margin-top: 2rem;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 2rem;
    text-align: unset;
  }
  .top-cap {
    margin: 0;
    padding: 0;
    font-size: 4.5rem;
  }
  .top-cap-dsp {
    font-size: 1.5rem;
    color: var(--dark);
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 3px;
  }
  #my-img {
    transform: translateX(-10%);
  }
  .card {
    margin-top: 2rem;
  }
  .card-header {
    width: auto;
    height: auto;
  }
  .mid-sec-two-row > * {
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .bm {
    height: 45rem;
    margin-top: -10rem;
  }
  .element-content {
    width: 100%;
  }
  .mid-sec-four-row {
    margin-top: none;
    width: auto;
  }
  .four-sub-cap {
    font-size: 1.3rem;
  }
  /*  .row-one,
  .row-two,
  .row-three {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
  } */
  .row > * {
    margin-bottom: 2rem;
  }
}
.pro-block {
  margin: 0 auto 2rem auto;
}
}

@media screen and (max-width: 1025px) {
  .bm {
    height: 46rem;
    margin-top: -14.5rem;
  }
  .sec-one-text-box {
    width: 100%;
    margin: auto;
  }
  #my-img {
    align-self: center;
    height: 10rem;
    width: 10rem;
  }
  .card {
    margin-bottom: 2rem;
  }

  .four-sub-cap {
    font-size: 1rem;
  }
  .four-sub-p {
    font-size: 1.5rem;
  }
  .pro-block {
    /* margin-left: 25%; */
    margin-bottom: 2rem;
  }
}
@media (max-width: 800px) {
  /*
  .square {
    height: 250px;
    width: 400px;
    margin-left: 5rem;
  }
  */
  .port-heading {
    font-size: 1rem;
  }
  .hashtag {
    font-size: 0.7rem;
    width: 2rem;
    height: 1rem;
  }
  .port-ul {
    font-size: 0.5rem;
  }
  .go-icon {
    transform: scale(0.5);
  }
  #my-img {
    align-self: center;
    height: 10rem;
    width: 10rem;
  }
}
@media only screen and (min-width: 768px) {
  body {
    overflow-x: hidden;
  }

  .bm {
    height: 46rem;
    margin-top: -10rem;
  }


  .card {
    margin-bottom: 2rem;
  }

  .timeline ul li {
    width: 50%;
    margin-bottom: 50px;
    position: relative;
  }
  .timeline ul li:nth-child(odd) {
    float: left;
    clear: right;
    padding-right:20px;
    /* transform: translateX(-15px); */
  }
  .timeline ul li:nth-child(even) {
    float: right;
    clear: left;
    padding-left:20px;
    /* transform: translateX(15px); */
  }
  .timeline::before {
    content: "";
    position: absolute;
    height: 100%;
    width: 2px;
    left: 50%;
    margin-left:-1px;

    background-color: gray;
  }
  .timeline ul li:after {
    content: "";
    position: absolute;
    z-index: 9999;
    height: 20px;
    width: 20px;
    border-radius: 50%;
    background: aliceblue;
    top: 0;
  }
  .timeline ul li:nth-child(odd):after {
    transform: translate(50%, -50%);
    right: 0;
  }
  .timeline ul li:nth-child(even):after {
    transform: translate(-50%, -50%);
    left: 0;
  }
}
